<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdnu.iosclub.qvs.mapper.QvsSurveyMapper">

    <resultMap id="getSurveyInfoByIdResultMap" type="QvsSurvey">
        <id column="id" property="id"/>
        <collection
                property="questions"
                column="id"
                select="com.sdnu.iosclub.qvs.mapper.QvsQuestionMapper.getQuestionById"
                ofType="QvsQuestion">
            <id property="id" column="id"/>
        </collection>
    </resultMap>

    <resultMap id="getSurveyDataByIdResultMap" type="QvsSurvey">
        <id column="id" property="id"/>
        <association property="questionNum" column="id" select="com.sdnu.iosclub.qvs.mapper.QvsQuestionMapper.getQuestionNum" javaType="Integer"></association>
        <collection
                property="questions"
                column="id"
                select="com.sdnu.iosclub.qvs.mapper.QvsQuestionMapper.getQuestionDataById"
                ofType="QvsQuestion">
            <id property="id" column="id"/>
        </collection>
    </resultMap>

    <select id="getSurveyInfoById" resultMap="getSurveyInfoByIdResultMap">
        select * from qvs_survey where id = #{id} order by update_time desc
    </select>

    <select id="getSurveyDataById" resultMap="getSurveyDataByIdResultMap">
        select * from qvs_survey where id = #{id} order by update_time desc
    </select>

</mapper>
